<!DOCTYPE html>
<html>
<head>
  <title>Admin Panel</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <h1>Admin Panel</h1>
  <nav>
    <ul>
      <li><a href="/cinemas">Spravovat kina</a></li>
      <li><a href="/movies">Spravovat filmy</a></li>
      <li><a href="/logout">Odhlásit se</a></li>
    </ul>
  </nav>
</body>
</html>