<!DOCTYPE html>
<html>
<head>
  <title>Rezervační systém na filmy</title>
  <link rel="stylesheet" href="/css/styles.css">
  <style>
    body {
      font-family: Arial, sans-serif;
    }

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;
    }

    .links a {
      margin-left: 10px;
    }

    .links {
      display: flex;
      align-items: center;
    }

    .movie-item {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
    }

    .movie-item-poster {
      width: 80px;
      height: 100px;
      margin-right: 10px;
    }

    .movie-item img {
      width: auto;
      height: 100%;
      margin-right: 20px;
    }

    .showtime {
      display: inline-block;
      padding: 5px 10px;
      margin: 5px 0px;
      border-radius: 5px;
      background-color: #f0f0f0;
      cursor: pointer;
    }

    .showtime:hover {
      background-color: #e0e0e0;
    }
  </style>
</head>
<body>
  <div class="header">
    <h1>Vítejte v rezervačním systému na filmy</h1>
    <div class="links">
      <a href="/login">Přihlásit se</a>
      <a href="/reservations">Moje rezervace</a>
    </div>
  </div>
  <form id="cinema-form">
    <label for="cinema">Vyberte kino:</label>
    <select id="cinema" name="cinema" onchange="fetchMovies()">
      <% cinemas.forEach(function(cinema) { %>
        <option value="<%= cinema._id %>"><%= cinema.name %></option>
      <% }); %>
    </select>
  </form>
  <h2>Filmy v kině</h2>
  <ul id="movies-list"></ul>
  <script>
    async function fetchMovies() {
      const cinemaId = document.getElementById('cinema').value;
      const response = await fetch(`/movies?cinemaId=${cinemaId}&view=index`);
      const movies = await response.json();
      const moviesList = document.getElementById('movies-list');
      moviesList.innerHTML = '';
      movies.forEach(movie => {
        const listItem = document.createElement('li');
        listItem.className = 'movie-item';
        listItem.innerHTML = `
          <div class="movie-item-poster">
          <img src="${movie.coverImage}" alt="${movie.title} cover">
          </div>
          <div>
            <strong>${movie.title}</strong><br>
            ${movie.showtimes.filter(showtime => showtime.cinemaId._id === cinemaId).map(showtime => `
              <div class="showtime" onclick="openReservation('${movie._id}', '${showtime.date}', '${showtime.time}')">
                ${formatDate(showtime.date)} | ${showtime.time} (${showtime.cinemaId.name})
              </div>
            `).join('')}
          </div>
        `;
        moviesList.appendChild(listItem);
      });
    }

    function formatDate(dateString) {
      const days = ['Neděle', 'Pondělí', 'Úterý', 'Středa', 'Čtvrtek', 'Pátek', 'Sobota'];
      const date = new Date(dateString);
      const dayName = days[date.getDay()];
      const day = String(date.getDate()).padStart(2, '0');
      const month = String(date.getMonth() + 1).padStart(2, '0');
      return `${dayName} ${day}.${month}.`;
    }

    function openReservation(movieId, date, time) {
      window.location.href = `/reservations/new?movieId=${movieId}&date=${date}&time=${time}`;
    }

    document.addEventListener('DOMContentLoaded', fetchMovies);
  </script>
</body>
</html>