<!DOCTYPE html>
<html>
<head>
  <title>Přihlášení</title>
</head>
<body>
  <h1>Přihlášení admina</h1>
  <form action="/login" method="POST">
    <label for="username">Uživatelské jméno:</label>
    <input type="text" id="username" name="username" required><br>
    <label for="password">Heslo:</label>
    <input type="password" id="password" name="password" required><br>
    <button type="submit">Přihlásit se</button>
  </form>
</body>
</html>