<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
</head>
<body>

  <h1><%= title %></h1>

  <div id="todos">
    <%- include('_todos') %>
  </div>

  <form method="post" action="/add-todo">
    <input placeholder="Název todočka" name="title" required>
    <label for="priority">Priorita:</label>
    <select name="priority">
      <option value="normal">Normal</option>
      <option value="low">Low</option>
      <option value="high">High</option>
    </select>
    <button type="submit">Přidat</button>
  </form>

  <script>
    // místo protokolu http použijeme ws
    // adresa a port (localhost:3000) musí souhlasit s adresou serveru
    const ws = new WebSocket('ws://localhost:3000')

    ws.addEventListener('message', (message) => {
      const json = JSON.parse(message.data)

      if (json.type === 'todos') {
        document.getElementById('todos').innerHTML = json.html
      }
    })
  </script>
</body>
</html>
